$side: 40em;

svg {
  width: $side;
  height: $side;

  .big-circle {
    stroke: black;
    stroke-width: 0.1em;
    fill: transparent;
  }

  .lines {
    line {
      stroke: black;
      stroke-width: 0.1em;
    }
  }
}
