$side: 30em;

svg {
  width: $side;
  height: $side;

  .big-circle {
    stroke: black;
    stroke-width: 0.1em;
    fill: transparent;
  }

  .lines {
    line {
      stroke: black;
      stroke-width: 0.1em;
    }
  }
}

h1 {
  margin: 0;
}

div.command {
  input[type="range"] {
    width: 100%;
  }
}
